/*
 ==========Flat=========
*/
/*
 ==========Classic=========
*/
/*
==========Modern=========
*/
/*
========== Future =========
*/
/*
===========
*/
@font-face {
  font-family: roboto-light;
  src: url(../src/font/Roboto-Light.ttf);
}

@font-face {
  font-family: encode-sans-light;
  src: url(../src/font/EncodeSans-Light.ttf);
}

@font-face {
  font-family: open-sans-light;
  src: url(../src/font/OpenSans-Light.ttf);
}

@font-face {
  font-family: open-sans-bold;
  src: url(../src/font/OpenSans-Bold.ttf);
}

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.jmaple {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
}

.m__color--blue {
  color: #201EFF;
}

.m__color--purple {
  color: purple;
}

.m__color--bold {
  color: black;
}

.m__color--green {
  color: green;
}

.m__color--black {
  color: black;
}

.m__color--red {
  color: red;
}

.m {
  width: 524px;
  min-height: 200px;
  overflow: hidden;
  border-radius: 5px;
  padding: 0px 5px 0px 10px;
  border-top: 0 solid rgba(0, 151, 167, 0.3);
  box-shadow: 0 0 0 1px #0097A7, 1px 1px 5px 0px black;
  background-color: rgba(0, 151, 167, 0.2);
}

.m button {
  border: none;
  font-size: 8pt;
  padding: 1px 10px;
  font-family: open-sans-bold, sans-serif;
  border-radius: 5px;
  transition: .3s;
  cursor: pointer;
  outline: 0;
}

.m__input {
  width: 100%;
  border: 1px solid #ccc;
  padding: 2px 3px;
  margin-top: 10px;
  background-color: #FBFBFB;
  outline-color: rgba(0, 151, 167, 0.6);
  border-radius: 2px;
  font-size: 9pt;
}

.m__input:focus {
  border: 1px solid transparent;
}

.m__head {
  cursor: -webkit-grab;
  cursor: grab;
  width: 100%;
  height: 15px;
}

.m__body {
  display: flex;
  min-height: 165px;
  box-shadow: inset 0 0 5px -1px black;
  border-radius: 0 5px 5px 0;
}

.m__body__npc {
  background-color: #FBFBFB;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 9pt;
  font-family: encode-sans-light, serif;
}

.m__body__npc__name {
  padding: 0.1em 0.3em;
  color: #616161;
}

.m__body__dialog {
  font-family: open-sans-light, sans-serif;
  color: #616161;
  font-size: 9pt;
  width: 100%;
  min-height: 165px;
  overflow-y: auto;
  padding: 0.5em 2em;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 0 5px 5px 0;
  box-shadow: 0 0 5px -2px black;
}

.m__body__dialog__info {
  padding: 1em 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.m__body__dialog__info--alternatives {
  padding-top: 1em;
  list-style: none;
  font-family: roboto-light, sans-serif;
}

.m__body__dialog__info--alternatives li {
  cursor: pointer;
  margin-bottom: 4px;
  transition: 0.3s ease;
}

.m__body__dialog__info--alternatives li::before {
  content: '';
  transition: 0.3s;
  width: 5px;
  height: 5px;
  margin-right: 5px;
  -webkit-transform: translate(0, -2px);
          transform: translate(0, -2px);
  background-color: rgba(0, 151, 167, 0.2);
  display: inline-block;
}

.m__body__dialog__info--alternatives li:hover {
  padding-left: 3px;
}

.m__body__dialog__info--alternatives li:hover::before {
  background-color: #0097a7;
}

.m__body__dialog__btn-interrogate {
  align-self: flex-end;
  padding-bottom: 5px;
}

.m__body__dialog__btn-interrogate--next, .m__body__dialog__btn-interrogate--prev {
  background-color: transparent;
}

.m__body__dialog__btn-interrogate--next {
  color: #0097A7;
  width: 40px;
  text-decoration: underline;
}

.m__body__dialog__btn-interrogate--prev {
  color: #0097A7;
  text-decoration: underline;
}

.m__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25px;
  margin-bottom: 2px;
  width: 100%;
}

.m__footer button {
  box-shadow: 1px 1px 5px -1px black;
  transition: 0.2s;
}

.m__footer button:active {
  box-shadow: 1px 1px 1px -1px black;
}

.m__footer__btn-exit--end-chat {
  color: white;
  background-color: #0097A7;
}

.m__footer__btn-interrogate--yes {
  color: white;
  background-color: #0097A7;
}

.m__footer__btn-interrogate--no {
  color: white;
  background-color: #0097A7;
  margin-left: 5px;
}
