@import 'config';

*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@mixin vh-center(){
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}
@mixin flex-center($direction, $jc : center, $ai : center){
    display: flex;
    flex-direction: $direction;
    justify-content: $jc;
    align-items: $ai;
}
@mixin flex-cl-center($jc : center, $ai : center){
    display: flex;
    flex-direction: column;
    justify-content: $jc;
    align-items: $ai;
}
@mixin flex-row-center($jc : center, $ai : center){
    display: flex;    
    justify-content: $jc;
    align-items: $ai;
}
.maple-message{ @include vh-center(); }

.m-msg__bold{color: $text-color--bold}