
//colors text
$text-color--light                  :   white;
$text-color--bold                   :   #3839CC;
$text-color--dark                   :   black;

$color--b                           :   #201EFF;    //blue
$color--d                           :   purple;     //purple
$color--e                           :   black;      //bold
$color--g                           :   green;      //green
$color--k                           :   black;      //black
$color--r                           :   red;        //red

                                    //text-shadow
$text-title                         :   0 0 0 #F09EA1, 
                                        0 0 1px #C60900,
                                        0 0 1px #C60900,
                                        0 0 1px #C60900,
                                        0 0 1px #C60900,
                                        0 0 1px #C60900,
                                        0 0 1px #C60900,
                                        0 0 1px #C60900;


/*
 ==========Flat=========
*/
//colors
$f-bg--head                         :   #ffa000;
$f-bg--body                         :   white;
$f-bg--footer                       :   transparent;

$f-btn--exit                        :   $f-bg--head;
$f-btn--interrogative-1             :   $f-bg--head;
$f-btn--interrogative-2             :   transparent;

$f-nameNpc                          :   $f-bg--head;
$f-dialog                           :   #616161;

/*
 ==========Classic=========
*/
//bg
$c-head                             :   linear-gradient(hsl(213,28,90),hsl(211,28,70) 10%,hsl(213,28,77));
$c-footer                           :   $c-head;
$c-body                             :   url(../src/img/texture/texture0.png);
$c-name-npc                         :   #223356;
$c-bg-dialog                        :   #F6F4F5;
//text
$c-dialog                           :   black;

//buttons
$c-btn--exit                  :   linear-gradient(hsl(64,65,64),hsl(70,80,41) 10%,hsl(64,65,64) 120%);
$c-btn--interrogative-1       :   linear-gradient(hsl(24,100,67),hsl(29,83,47) 12%,hsl(24,100,67));
$c-btn--interrogative-2       :   linear-gradient(hsl(205,77,65),hsl(207,73,50) 15%,hsl(205,77,65) 120%);


/*
==========Modern=========
*/
//colors
$m-bg-color--primary                :   rgba(#098FD5, 0.6);
$m-bg-color--texture                :   #EEEEEE;
$m-bg-color--name                   :   linear-gradient(#949494, #626262);

$m-btn-color--exit                  :   linear-gradient(hsl(71,90,50) 10%,hsl(69,79,44) 100%);
$m-btn-color--interrogative1--yes   :   linear-gradient(hsl(51,87,54) 10%,hsl(43,98,51));
$m-btn-color--interrogative1--no    :   linear-gradient(hsl(341,92,62) 10%,hsl(341,88,46));
$m-btn-color--interrogative2        :   $m-btn-color--exit;


//border
$m-border--dark                     :   #626262;

/*
========== Future =========
*/
//color text
$fu-dialog: #616161;
$fu-name-npc: $fu-dialog;
//color bg
$fu-main: #0097A7;
$fu-npc: #FBFBFB;
$fu-body : white;
//color button
$fu-light : white;
@mixin fu-btn--end-chat() {
    color: $fu-light;
    background-color: $fu-main;    
}
@mixin fu-btn--yes-and-ok() {
    color: $fu-light;
    background-color: $fu-main;
}
@mixin fu-btn--no() {
    color: $fu-light;
    background-color: $fu-main;
}

/*
===========
*/


//Fonts
@font-face{
    font-family: roboto-light;
    src: url(../src/font/Roboto-Light.ttf);
}
@font-face{
    font-family: encode-sans-light;
    src: url(../src/font/EncodeSans-Light.ttf);
}
@font-face{
    font-family: open-sans-light;
    src: url(../src/font/OpenSans-Light.ttf);
}
@font-face{
    font-family: open-sans-bold;
    src: url(../src/font/OpenSans-Bold.ttf);
}