@import 'base';
.m{
    width: 524px;
    min-height: 200px;    
    overflow: hidden;
    border-radius: 5px;
    padding: 0px 5px 0px 10px;
    border-top: 0 solid rgba($fu-main, 0.3);
    box-shadow: 0 0 0 1px $fu-main,
                1px 1px 5px 0px black;
    background-color: rgba($fu-main, 0.2);    
    button{
        border: none;
        font-size: 8pt;
        padding: 1px 10px;
        font-family: open-sans-bold, sans-serif;        
        border-radius: 5px;
        transition: .3s;
        cursor: pointer;        
        outline: 0;
    }
    &__input{
        width: 100%;
        border: 1px solid #ccc;
        padding: 2px 3px;
        margin-top: 10px;
        background-color: $fu-npc;
        outline-color: rgba($fu-main, .6);
        border-radius: 2px;
        font-size: 9pt;        
        &:focus{
            border: 1px solid transparent;
        }
    }
    &__head{
        cursor: grab;
        width: 100%;
        height: 15px;        
    }
    &__body{
        display: flex;        
        min-height: 165px;
        box-shadow: inset 0 0 5px -1px black;
        border-radius: 0 5px 5px 0;
        &__npc{
            background-color: $fu-npc;
            width: 200px;
            @include flex-cl-center();
            text-align: center;
            font-size: 9pt;
            font-family: encode-sans-light, serif;
            &__name{
                padding: 0.1em 0.3em;
                color: $fu-name-npc;
            }
        }
        &__dialog{
            font-family: open-sans-light, sans-serif;
            color: $fu-dialog;
            font-size: 9pt;
            width: 100%;
            min-height: 165px;
            overflow-y: auto;
            padding: 0.5em 2em;
            background-color: $fu-body;
            @include flex-cl-center(center, flex-start);
            border-radius: 0 5px 5px 0;
            box-shadow: 0 0 5px -2px black;
            &__info{
                padding: 1em 0;                
                height: 100%;
                width: 100%;
                @include flex-cl-center(center, flex-start);                
                &--alternatives{
                    padding-top: 1em;                                        
                    list-style: none;
                    font-family:  roboto-light, sans-serif;
                    li{
                        cursor: pointer;
                        margin-bottom: 4px;                                                
                        transition: 0.3s ease;
                    }
                    li::before{
                        content: '';
                        transition: 0.3s;
                        width: 5px;
                        height: 5px;
                        margin-right: 5px;
                        transform: translate(0, -2px);
                        background-color: rgba($fu-main, 0.2);
                        display: inline-block;
                    }
                    li:hover{                    
                        padding-left: 3px;
                    }
                    li:hover::before{
                        background-color: rgba($fu-main, 1);
                    }
                }
            }
            &__btn-interrogate{
                align-self: flex-end;
                padding-bottom: 5px;                
                &--next, &--prev{
                    background-color: transparent;
                }
                &--next{
                    color: $fu-main;
                    width: 40px;
                    text-decoration: underline;
                }
                &--prev{
                    color: $fu-main;                    
                    text-decoration: underline;
                }
            }
        }
    }
    &__footer{
        @include flex-row-center(space-between);          
        height: 25px;
        margin-bottom: 2px;
        width: 100%;
        button{
            box-shadow: 1px 1px 5px -1px black;
            transition: 0.2s;
            &:active{
                box-shadow: 1px 1px 1px -1px black;
            }
        }
        &__btn-exit--end-chat{
            @include fu-btn--end-chat();
        }
        &__btn-interrogate{            
            &--yes{
                @include fu-btn--yes-and-ok();
            }
            &--no{               
                @include fu-btn--no(); 
                margin-left: 5px;
            }
        }
    }
}