.jmaple {
    position: absolute;
    top: 30%;
    left: calc(50% - 262px);
    width: 524px;
    min-height: 200px;
    border-radius: 6px;
    background-color: rgba(9, 143,213, 0.6);
    box-shadow: 0 0 0 1px rgba(98,98,98, 0.5),
                0 0 0 2px rgba(255,255,255, 0.5),
                0 0 0 3px rgba(98,98,98, 0.5),
                1px 2px 10px black;
}

.jmaple button {
    font-family: "Encode Sans", sans-serif;
    font-size: 6pt;
    padding: 2px 20px 1px;
    text-shadow: 0 0 1px black,
                0 0 1px black;
    border: none;
    box-shadow: 0 0 0 1px rgba(0,0,0, 0.3);
    cursor: pointer;
    color: white;
    outline: none;        
    border-radius: 3px;
}

.jmaple button:active {
    box-shadow: 0 0 0 1px rgba(0,0,0, 0.3), inset 0px 0px 4px -1px black;
}

.jmaple .head {
    border-radius: 7px 7px 0 0;
    box-shadow: inset 0 1px 0 white,
                inset 0px 8px 8px rgba(255, 255, 255, 0.5);        
    width: 100%;
    height: 13px;
    cursor: move;
}

.jmaple .body {
    display: flex;
    padding: 3px 3px 5px;
    justify-content: space-between;
    background-color: #EEEEEE;
    width: 500px;
    min-height: 165px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: inset 0 0 0 1px #626262;
    border-radius: 4px;  
}

.jmaple .body .npc {
    min-width: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.jmaple .body .npc .img {
    max-height: 100px;
    max-width: 110px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.jmaple .body .npc .img img {
    width: 100%;
}

.jmaple .body .npc .name {
    width: 80%;
    padding: 1px;                
    background-image: linear-gradient(#949494, #626262);
    color: white;
    border-radius: 2px;
    box-shadow: 0 0 0 1px white,
                0 0 0 2px #626262;
    text-align: center;
    font-size: 8pt;
    font-family: Roboto, sans-serif;
}

.jmaple .body .dialog {
    width: 100%;
    background-color: white;
    padding: 15px 5px 7px;
    border-radius: 5px;
    box-shadow: inset 0px 0px 3px #626262;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.jmaple .body .dialog .info {
    font-size: 9pt;
    padding-left: 12px;
    padding-right: 12px;
    font-family: "Open Sans", sans-serif;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-height: 200px;
    overflow-y: auto;
}

.jmaple .body .dialog .info .text {
    padding-bottom: 5px;
}

.jmaple .body .dialog .info .title {
    color: transparent;
    font-size: 9pt;
    text-shadow: 0 0 0 #F09EA1, 
                0 0 1px #C60900,
                0 0 1px #C60900,
                0 0 1px #C60900,
                0 0 1px #C60900,
                0 0 1px #C60900,
                0 0 1px #C60900,
                0 0 1px #C60900;
}

.jmaple .body .dialog .info ul.list {
    line-height: 1.4em;
    padding-bottom: 10px;
    list-style: none;
    color: #3839CC;
    cursor: pointer;
    padding-left: 20px;
    margin-top: 1em;
}

.jmaple .body .dialog .info ul.list li {
    margin-bottom: 4px;
}

.jmaple .body .dialog .info ul.list li::before {
    content: '❤';
    width: 7px;
    font-size: 5pt;
    height: 7px;
    color: #aaa;
    position: absolute;                    
    transform: rotate(-90deg);
    text-decoration: none;
    margin-top: 4px;
    margin-left: -14px;
}

.jmaple .body .dialog .info ul.list li:hover {
    text-decoration: underline;
}

.jmaple .body .dialog .info ul.list li:hover::before{
    color: #E52828;
}

.jmaple .body .dialog .btns {
    width: 100%;
    text-align: right;
    padding-left: 17px;
    padding-right: 17px;
}

.jmaple .body .dialog .btns button {
    background-image: linear-gradient(#c8f20d 10%,#aec918 100%);
    padding: 2px 10px 1px;
}

.jmaple .body .dialog .btns button:nth-child(2) {
    margin-left: 9px;
}

.jmaple .footer {
    display: flex;
    height: 100%;
    padding: 4px 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 0 0 10px 10px;  
}

.jmaple .footer button.exit {
    margin-left: 2px;
    background-image: linear-gradient(#d7df68,#a0bc15 10%,#d7df68 120%);
}

.jmaple .footer button.yes {
    background-image: linear-gradient(#f0d124 10%,#fdb708);
}

.jmaple .footer button.no {
    background-image: linear-gradient(#f7457d 10%,#dd0e4f);
    margin-right: 2px;
    margin-left: 9px;
}