html
  head
    title NPC
        =id
    link(rel="stylesheet" href="./base.css")
    link(rel="stylesheet" href="./section.css")
    link(rel="stylesheet" href="./classic.css")
  body
    main
        h1 NPC:
            span=id
        .jmaple
            .head
            .body
            .footer
